@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
    background: rgb(20,23,26);
    flex-direction: column;
	display: flex;
	align-items: center;
}

.bottle {
    height: 125px;
    width: 125px;
}

.container2 {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.rectangle {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	width: 50px;
	height: 50px;
	background: #380848;
	transform: scale(0);
	border-radius: 50%;
	color: white;
	opacity: 0;
	overflow: hidden;
	animation: scale-in .3s ease-out forwards,
		expand .35s .25s ease-out forwards;
}

.notificationtext {
	display: flex;
	align-items: center;
	padding: 0 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	animation: fade-in .65s ease-in forwards;
}

.stats {
    height: 80vh;
    width: 278px;
    cursor: pointer;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 10px 5px #333, 0px -10px 5px #333;
}

.navtab {
    overflow: hidden;
    background-color: white;
    position: fixed;
    border-radius: 40px 40px 0 0;
    border: 4px solid white;
    width: 240px;
    height: fit-content;
    justify-content: space-between;
    display: flex;
	align-items: center;
    position: fixed;
    bottom: 0;
    padding: 42px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 12px;

}

.cup {
	background-color: rgb(29,161,242);
	border: 4px solid #144FC6;
    padding: 10px;
	border-radius: 0 0 40px 40px;
	color: white;
	/* display: flex;
	flex-direction: row; */
	margin: 12px;
	overflow: hidden;
	height: 95px;
	width: 50px;
    transition: opacity 0.8s;
    cursor: pointer;
}

.cup:focus{
    opacity: 80%;
}

.desc {
    color: black;
    width: fit-content;
    padding: 12px;
    font-size: 11px;
    margin: auto;
    border-radius: 5px;
    text-align: left;
    margin-top: -28px;
    font-family: 'Open Sans', sans-serif;
}

.options {
    margin-left: -8px;
    border: hidden;
    font-size: 16px;
    height: fit-content;
    outline: none;
    padding: 4px;
    margin-top: 4px;
    width: 100%;
}

.title {
    padding: 12px;
}

.title2 {
    padding: 12px;
    text-align: center;
}

.legend {
    padding: 4px;
    font-size: small;
    text-align: center;
    margin-top: -24px;
}

.subtitle {
    padding: 12px;
    font-size: larger;
}

.h2{
    text-align: center;
    margin-top: 5px;
    padding-bottom: 7px;
}

.nodecor {
    text-decoration: none;
    color: rgb(29,161,242);
}

.navicons {
    text-decoration: none;
    color: rgb(20,23,26);
}

.sub {
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 0px;
    font-size: 11px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.logo {
    justify-content: center;
    margin: 1vh;
    padding: 10px;
    align-items: center;
    width: 70%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
    border: 0px solid black;
    border-radius: 42px;
}

.form {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.main{
    border: 3px solid white;
    border-radius: 20px;
    padding: 24px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 10px 5px 5px black;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.field {
    padding: 12px;
    position: relative;
}

.submit{
    width: 85%;
    height: 60px;
    padding: 10px;
    color: white;
    background-color: rgb(29,161,242);
    font-size: larger;
    border-radius: 25px;
    border: 0px solid rgb(29,161,242);
    margin: 1vw;
    margin-top: 20px;
    transition: opacity 0.8s;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

.submit:hover{
    opacity: 80%;
}

.logout{
    width: 85%;
    height: 60px;
    padding: 10px;
    color: white;
    background-color: #B00020;
    font-size: larger;
    border-radius: 25px;
    border: 0px solid #B00020;
    margin: 1vw;
    margin-top: 20px;
    transition: opacity 0.8s;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 84px;
}

.logout:hover{
    opacity: 80%;
}

.input {
    border: hidden;
    font-size: 16px;
    height: fit-content;
    outline: none;
    padding: 8px;
    width: 220px;
    margin-left: -8px;
}

.section {
    font-weight: bold;
}

.box {
    margin-right: 8px;
}

.pwbutton {
    font-size: xx-large;
    border: 0px;
    background-color: white;
    cursor: pointer;
    color: rgb(20,23,26);
    position: absolute;
    right: 0;
}

.error {
    color: #B00020;
    height: fit-content;
    padding: 0px;
    font-size: 11px;
    margin: auto;
    border-radius: 5px;
    text-align: left;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
    font-family: 'Open Sans', sans-serif;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.strength {
    font-size: 0px;
}